<!-- begin post -->
<div class="col-md-6 grid-item">
    <div class="card">
        <a href="single.html">
        </a>
                <table>
                    <tr>
                      <th>NFT name</th>
                      <th>NFT Author</th>
                      <th>NFT Image</th>
                      <th>Purchase crypto</th>
                      
                      <th>Price</th>
                    </tr>
                    <tr>
                      <td class="capitalize">{{nft.name.toLocaleUpperCase()}}</td>
                      <td class="capitalize">{{nft.creator.toLocaleUpperCase()}}</td>
                      <td class="capitalize">{{nft.symbol.toUpperCase()}}</td>
                      <td class="capitalize"><img class="img-fluid" id="putafoto" src="{{nft.img}}" alt="imagen en base64"></td>
                      <td style=" padding-left: 40px;">{{nft.price}} ({{nft.symbol}})
                        <span class="post-read-more"><a (click)="onClick()" title="Buy"><i class="fa fa-link"></i></a></span>
                    </tr>
                </table>
            </div>
        </div>
<!-- end post -->
