<div class="top-div">
    <h1><u> COMPRAR {{cryptoSymbol.name}}</u></h1>
    <section class="buyChart">
        <label><i>Cuantos {{cryptoSymbol.name}} quieres comprar?</i></label><br>
        <label style="color: red;">{{crypto.price}}€</label><br>
        <input type="text" id="_moneyInput" placeholder="€"><br><br>
        <button (click)="comprar(user,cryptoSymbol)">Comprar</button> 
    </section>
</div>
    
    
    
    
    
    
    
    
    <!--

<app-buying-view>
</app-buying-view>
    -->
    

