
<div class="top-div">
    <h1> NFT TRANSACTIONS </h1>
    <section class="show">
        <label>{{nftTransaction.NFT.name}}</label><br>
        <label>Price : {{nftTransaction.price}}</label><br>
        <label>Buyer : {{nftTransaction.buyer}}</label><br>
        <label>Seller : {{nftTransaction.seller}}</label><br>
        <label>date : {{nftTransaction.date}}</label><br>
        <div>
            <label>NFT:</label><br>
            <label>Name : {{nftTransaction.NFT.name}}</label><br>
            <label>NFT-ID : <a (click)="goBuyNFT()">{{nftTransaction.NFT.id}}</a></label>
        </div>
       
    </section>
</div>