<!DOCTYPE html>
<html lang="en">
	<!--	REGISTER FORM VIEW´S CHILD COMPONENT	-->
<head>
	<title>Register</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="assets/images/favicon.ico"/>
<!--===============================================================================================-->
	<script src="js/index.js"></script> 
</head>
<body>
	<div id="app"></div>
	<div class="limiter">
		<div class="container-login100" style="background-image: url('assets/images/cryptocurrency.png');">
			<div class="wrap-login1000">
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class="zmdi "><img src="../../../../assets/images/express_coin.png" alt=""></i>
					</span>

					<span class="login100-form-title p-b-34 p-t-27">
						Register
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Enter name">
						<input class="input100" type="text" name="name" [(ngModel)]="name" id="name" placeholder="Name">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input class="input100" type="text" name="username" [(ngModel)]="user" id="username" placeholder="Username">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate = "Enter email">
						<input class="input100" type="text" name="email" [(ngModel)]="email" id="email" placeholder="Email">
						<span class="focus-input100" data-placeholder="&#xf207;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" id="pass" [(ngModel)]="pass" placeholder="Password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="pass" id="pass2" [(ngModel)]="confirmPass" placeholder="Repeat password">
						<span class="focus-input100" data-placeholder="&#xf191;"></span>
					</div>

					<div class="contact100-form-checkbox">
						<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
						<label class="label-checkbox100" for="ckb1">
							Remember me
						</label>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit" (click)="register()">
							Login
						</button>
					</div>

					<div class="text-center p-t-90">
						<a class="txt1" href="#">
							Forgot Password?
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="../../../../assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../../../../assets/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../../../../assets/vendor/bootstrap/js/popper.js"></script>
	<script src="../../../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../../../assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../../../assets/vendor/daterangepicker/moment.min.js"></script>
	<script src="../../../../assets/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../../../../assets/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../../../../assets/js/main.js"></script>

</body>
</html>