
<!--   PAGE VIEW FOR ALL TRANSACTIONS MADE IN THE WEB   -->

<div class="top-div">
    <section class="transaction-section" style="margin-top: 8%;">
        <h1 style="text-align: center; ">NFT TRANSACTIONS</h1>
       <app-nft-transactions
       [nftTransaction]="nftTransaction"
       *ngFor="let nftTransaction of nftTransactions">


        </app-nft-transactions>
    </section>
    <section class="transaction-section">
        <h1 style="text-align: center; ">CRYPTO TRANSACTIONS</h1>
        <app-crypto-transactions
        [cryptoTransaction]="cryptoTransaction"
        *ngFor="let cryptoTransaction of cryptoTransactions">


        </app-crypto-transactions>
    </section>
</div>
    