<!--    VIEW FOR USER´S PROPERTIES MANAGEMENT    -->

<div class="container">
   
    <h2>
        CAMBIAR CONTRASEÑA
    </h2> 
    
    <section>
        <input style="margin-right: 1%;" type="password" id="_newPass" placeholder="Nueva contraseña">
        <div class="button-style">
            <span class="post-read-more"><a (click)="logOut()" title="Log Out"><i class="fa fa-sign-out"></i></a></span>
            <span class="post-read-more"><a (click)="changePassword()" title="Aceptar"><i class="fa fa-check-circle"></i></a></span>
       </div>
    </section>
</div>
