<!DOCTYPE html>
<html lang="en">
<head>

<!-- 	ABOUT US PAGE (/about)	--> 

</head>
<body class="layout-page">
<!-- Begin Menu Navigation
================================================== -->

<!-- End Menu Navigation
================================================== -->
<div class="site-content">
	<div class="container">
		<!-- Content
    ================================================== -->
		<div class="main-content">
			
			<section>
                <div class="section-title">
				<h2><span>About</span></h2>
			</div>
			<div class="article-post">
				<p>
					ExpressCoin is the world's most-referenced price-tracking website for cryptoassets in the rapidly growing cryptocurrency space. Its mission is to make crypto discoverable and efficient globally by empowering retail users with unbiased, high quality and accurate information for drawing their own informed conclusions.
				</p>
			</div>	
				<h2 style="text-align:center">Our Team</h2>
				<div class="row" style="margin-left:23%">
				  <div class="column">
					<div class="card">
					  <img src="./assets/images/ager.jpg" alt="Jane" style="width:100%">
					  <div class="container">
						<h2>Ager Kalboetxeaga</h2>
						<p class="title">Programmer</p>
						<p>I take care of the database and programming.</p>
						<p>kalboetxeaga.ager@uni.eus</p>
						<p><button class="button" >Contact</button></p>
					  </div>
					</div>
				  </div>
				
				  <div class="column">
					<div class="card">
					  <img src="./assets/images/markel.jpg" alt="Mike" style="width:100%">
					  <div class="container">
						<h2>Markel Salgado</h2>
						<p class="title">Designer</p>
						<p>I am in charge of the design of the website.</p>
						<p>salgado.markel@uni.eus</p>
						<p><button class="button">Contact</button></p>
					  </div>
					</div>
				  </div>
                </div>
                </section>
				
			
		
		</div>
	</div>
	<!-- /.container -->
	<!-- Before Footer
    ================================================== -->
	<div class="beforefooter">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<h3>Be the first to know about crypto news every day!!!</h3>
					<p>
						Get crypto analysis, news and updates right to your inbox! Sign up so you don't miss a single newsletter.
					</p>
				</div>
				<div class="col-md-4 text-right footersocial">
					<h5>Connect with Us</h5>
					<i class="fa fa-facebook"></i>
					<i class="fa fa-twitter"></i>
					<i class="fa fa-google"></i>
					<i class="fa fa-pinterest"></i>
					<i class="fa fa-github"></i>
				</div>
			</div>
		</div>
	</div>
		<!-- Begin Footer
    ================================================== -->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="footer-widget">
						<a href="/contact">
							<img style="max-width: 40%;" src="assets/images/express_coin.png" alt="logo footer">
						</a>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="footer-widget">
						<h5 class="title">Products</h5>
						<ul>
							<li><a target="_blank" href="https://blockchain.coinmarketcap.com/?utm_source=coinmarketcap&utm_content=footer">Blockchain Explorer</a></li>
							<li><a target="blank" href="https://coinmarketcap.com/api/">Crypto API</a></li>
							<li><a target="blank" href="https://coinmarketcap.com/indices/">Crypto Indices</a></li>
							<li><a target="blank" href="https://jobs.coinmarketcap.com/">Jobs Board</a></li>
							<li><a target="blank" href="https://coinmarketcap.com/sitemap/cryptocurrencies/">Sitemap</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="footer-widget">
						<h5 class="title">Author</h5>
						<ul>
							<li><a href="/about">About Us</a></li>
							<li><a target="_blank" href="https://www.wowthemes.net/affiliate-area/">Terms of use</a></li>
							<li><a href="https://coinmarketcap.com/privacy/">Privacy Policy</a></li>
							<li><a href="https://support.coinmarketcap.com/hc/en-us/articles/4412939497755">Community Rules</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="footer-widget">
						<h5 class="title">Socials</h5>
						<ul>
							<li><a href="">Facebook</a></li>
							<li><a target="_blank" href="">Twitter</a></li>
							<li><a href="">Telegram</a></li>
							<li><a href="">Instagram</a></li>
							<li><a href="">Interactive Chat</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="copyright">
				<p class="pull-left">
					© 2022 ExpressCoin. All rights reserved
				</p>
				
				<div class="clearfix">
				</div>
			</div>
		</div>
		</footer>
		<!-- End Footer
		================================================== -->
</div>
<!-- JavaScript
================================================== -->
<script src="assets/js/jquery.min.js"></script>   
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="assets/js/ie10-viewport-bug-workaround.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/js/theme.js"></script>
</body>
</html>