<!--

        Ruta:
        http://localhost:4200/idoia-apruebanos-porfi

                                                        -->

<div class="container">
    <h1 class="h1-style"><u>CREATE A NFT</u></h1>
    <div>
        <div class="first-div">
            <h2 class="h2-style">NFT Name</h2>
            <input class="input-style" type="text" id="nft_name" placeholder="Nombre"><br>
        </div>
        <div class="second-div">
            <h2 class="h2-style">NFT Creator</h2>
            <input  class="input-style"  type="text" id="nft_creator" placeholder="Author"><br>
        </div>
        <div class="second-div">
            <h2 class="h2-style">NFT Price</h2>
            <input  class="input-style"  type="text" id="nft_price" placeholder="Price"><br>
        </div>
        <div class="second-div">
            <h2 class="h2-style">Purchase Cryptocurrency</h2>
            <select id="cypto_symbol"></select><br>
        </div>
        <div class="second-div">
            <h2 class="h2-style">Image</h2>
            <img [src]="imagePath">
            <input  type="file" id="nft_img" (change)="onFileSelected($event)"><br>
        </div>
        <button class="mrg-bottom" (click)="addNFT()">Añadir</button>
    </div>
</div>


